@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-white: hsl(0, 0%, 100%);
    --slate-light: hsl(212, 45%, 89%);
    --slate-medium: hsl(216, 15%, 48%);
    --slate-dark: hsl(218, 44%, 22%);
    --font-outfit: "Outfit", sans-serif; 
    --weight-400: 400;
    --weight-700: 700;
}

